.jumbotron {
  background-position: top;
  background-size: cover;
}

.jumbotron-lead {
  width: 50%;
}

.container {
  max-width: 75%;
}

hr {
  max-width: 75%;
}

.img-thumbnail {
  margin-bottom:10px;
}

h4 {
  margin-bottom: 20px;
}

.page-footer {
  background-color: #cccccc;
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer-copyright {
  background-color: #bbbbbb;
}

.row {
  margin-bottom: 20px;
}
